*{
    margin: 0;
    padding: 0;
}
html{
    overflow-x: hidden;
}
body{
    max-width: 100vw;
}

    /*--- Styles for Navigation Bar ---*/
.nav{
    height: 80px;
    background-color: rgb(0, 1, 65);
    display: flex;
    justify-content:space-evenly;
    max-width: 100vw;
    padding-left: 20px;
}
.nav-links{
    width: 70%;
}
.search{
    width: 30%;
    position: relative;
    
}
.search input{
    position: relative;
    left: 120px;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 15px;
    border-radius: 70px;
    border: 1px solid #d1d1d146;
    width: 180px;
    background-color: transparent;
    outline: none;
    color: #ffffff;
    color: #d1d1d180;
}
.search input::placeholder{
    font-size: 15px;
}
.search i{
    color:#d1d1d180 ;
    font-size: 20px;
    position: relative;
    top: 20px;
    left: 210px;
}
.nav ul{
   width: 100%; 
   position: relative;
   top: 50%;
   transform: translateY(-50%);
}
.nav ul li{
    display: inline;
    padding-right: 40px;
}
.nav li a{
    list-style: none;
    text-decoration: none;
    color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: 0.5s ease-out;
    font-weight: 500;
}
.nav li a:hover{
    color: orangered;
}
@media screen and (max-width: 1000px){
    .nav{
        justify-content: initial;
    }
    .nav-links{
        width: 70%;
    }
    .search input{
        width: 150px;
    }
    .search i{
        top: 20px;
        left: 200px;
    }
    .nav ul li{
        padding-right: 0px;
        padding-left: 30px;
    }
    .search{
        position: relative;
        right: 20px;
    }
}
.social-nav{
    background-color: orangered;
    height: 40px;
}
.social-nav-icon{
    color: #ffffff;
    position:relative;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    margin-right: 10px;
}
.social-nav-container{
    display: flex;
    position: relative;
    top: 50%;
    float: right;
}
.social-nav-icon i{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.social-nav-icon{
    width: 30px;
    height: 30px;
    background-color: #dfdfdf4d;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2 ease-out;
}
.social-nav-icon:hover{
    scale: 1.1;
}

/*--- Mobile Navigation Menu---*/
.mobile-nav{
    height: 100vh;
    width: 200px;
    position: absolute;
    right: -200px;
    padding-top: 20px;
    top: 0;
    display: none;
    background-color: rgb(0, 1, 65);
    z-index: 10;
}
.mobile-nav ul{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.mobile-nav ul li{
    list-style: none;
    padding-bottom: 20px;
    position: relative;
    left: 100px;
    transform: translateX(-50%);

}
.mobile-nav ul li a{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    position: relative;
    left: 70px;
}
.mobile-nav-link{
    width: 200px;
    margin-left: 0%;
}
.nav-bar-icon{
    position: relative;
    top: 30px;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
    width: 5%;
    display: none;
   
}
.nav-close-icon{
    position: relative;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
    visibility: hidden;
}
@media screen and (max-width: 850px){
    .nav-bar-icon{
        display: block
    }
    .nav-links{
        display: none;
    }
    .search{
        width: 90%;
    }
    .search i{
        left: 190px;
    }
    .search input{
        left: 120px;
    }
}
@media screen and (max-width: 450px){
    .search{
        width: 85%;
    }
}

/*--- Home Slider ---*/
.swiper {
    width: 100%;
    height: calc(100vh - 120px);
}
.swiper-slide {
    background-position: center;
    background-size: cover;
    margin: 0;
}
.swiper-slide img {
    display: block;
    width: 100%;
}
.home-slider .slide1{
    background-image: url("../../assets/images/slide-img1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.home-slider .slide2{
    background-image: url("../../assets/images/slide-img2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.slide-overlay{
    background-color: rgba(0, 0, 0, 0.473);
    width: 100%;
    height: 100%;
}
.home-slider .slides-div{
    width: 40%;
    position: relative;
    left: 100px;
    top: 50%;
    transform: translateY(-50%);
}
.home-slider .home-slides h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
    font-size: 50px;
    margin: 0;
    padding: 0;
    line-height: 1.2;
    margin-bottom: 30px;
}
.home-slider .home-slides p{
    color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    margin-bottom: 30px;
}
.home-slider .home-slides .slides-div button{
    padding: 15px 20px;
    color: #ffffff;
    font-size: 18px;
    background-color: orangered;
    border: 2px solid orangered;
    border-radius: 35px;
    width: 150px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.home-slider .home-slides .slides-div button:hover{
    background-color: transparent;
    color: rgb(236, 173, 12);
}
@media screen and (max-width: 1000px){
    .home-slider .slides-div{
        width: 80%;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
    .home-slider .slides-div{
        text-align: center;
    }
}
@media screen and (max-width: 500px){
    .home-slider .slides-div h1{
        font-size: 35px;
    }
}

/*--- Features Section ---*/
.features{
    display: flex;
    flex-wrap: wrap;
}
.features-div{
    width: 25%;
    background-color: aqua;
    padding: 60px 24px;
    box-sizing: border-box;
}
.features-div1{
    background-color: rgb(0, 1, 65);
}
.features-div2{
    background-color: orangered;
}
.features-div3{
    background-color: rgb(0, 1, 65);
}
.features-div4{
    background-color: orangered;
}
.features-div img{
    width: 55px;
    height: 55px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 20px;
}
.features-div h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
    color: #ffffff;
}
.features-div p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    color: #ffffff;
}
@media screen and (max-width: 1000px){
    .features-div{
        width: 50%;
    }
}
@media screen and (max-width: 450px){
    .features-div{
        width: 100%;
    }
}

/*--- Offer Section ---*/
.offer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: rgb(63, 63, 63);
}
.offer-div1{
    width: 50%;
}
.offer-div2{
    width: 40%;
}
.offer-div2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.offer-div1 h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 35px;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 30px;
}
.offer-div1 p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
}
.offer-main-para{
    margin-bottom: 40px;
}
.offer-div-container{
    display: flex;
    flex-wrap: wrap;
}
.offer-card{
    display: flex;
    flex-wrap: nowrap;
    flex-flow: row;
    width: 50%;
    margin-bottom: 40px;
    justify-content:center;
}
.offer-card-icon{
    content: "";
    width: 80px;
    height: 80px;
    background-color: orangered;
    border-radius: 50%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    left: 10%;
}
.offer-card-icon img{
    width: 40px;
    height: 40px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.offer-card-details{
    width: 170px;
}
.offer-card-details h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 20px;
}
.offer-card-details p{
    font-size: 18px;
}
@media screen and (max-width: 1000px){
    .offer-div-container{
        justify-content: space-evenly;
    }
    .offer-card{
        flex-direction: column;
        justify-content: space-evenly;
        width: 40%;
    }
    .offer-card-icon{
        left: 50%;
        transform: translateX(-50%);
    }
    .offer-card-details{
        width: 100%;
        text-align: center;
    }
    .offer-card-details h2{
        margin-bottom: 20px;
    }
    .offer-div2 img{
        height: 100%;
    }
}
@media screen and (max-width: 800px){
    .offer{
        width: 100vw;
    }
    .offer-div1{
        width: 100%;
        text-align: center;
    }
    .offer-div1 h1{
        position: relative;
        text-align: center;
    }
    .offer-card{
        display: flex;
        flex-wrap: nowrap;
        flex-flow: row;
        width: 100%;
        margin-bottom: 20px;
        justify-content:space-evenly;
        margin-bottom: 20px;
    }
    .offer-card-icon{
        left: 10%;
    }
    .offer-card-icon img{
        left: 25%;

    }
    .offer-card-details{
        width: 60%;
        text-align: left;
    }
    .offer-card-details h2{
        margin-bottom: 10px;
    }
    .offer-div2{
        display: none;
    }
}
@media screen and (max-width: 350px){
    .offer{
        transform: scale(0.9);
    }
}

/*--- Intro Section ---*/
.intro{
    width: 100%;
    background-image: url("../../assets/images/intro-back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
}
.intro-overlay{
    background: rgb(250,95,28);
    background: linear-gradient(90deg, rgba(250,95,28,0.3561799719887955) 0%, rgba(255,102,0,0.8491771708683473) 100%);
    padding: 100px 0px;
}
.intro-container{
    width: 80%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.intro-div1{
    width: 50%;
}
.intro-div2{
    width: 50%;
}
.intro-div1 img{
    width: 80%;
    height: 100%;
    object-fit: cover;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.intro-div2 h2{
    font-weight: 600;
    font-size: 35px;
    margin-bottom: 20px;
}
.intro-div2 p{
    font-size: 18px;
}
.intro-count{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 70px;
}
.intro-count-div{
    width: 20%;
    text-align: center;
}
.intro-count h2{
    font-size: 40px;
}
.intro-count p{
    font-size: 20px;
}
@media screen and (max-width: 1000px){
    .intro-div1{
        width: 600px;
    }
    .intro-div1 img{
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
    .intro-count{
        max-width: 650px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        justify-content: space-evenly;
    }
    .intro-div2{
        width: 600px;
    }
    .intro-count-div{
        width: 120px;
    }
}
@media screen and (max-width:600px){
    .intro-count-div{
        width: 100%;
        margin-bottom: 60px;
    }
}

/*--- Courses Section ---*/
.courses{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 100px 0px;
}
.courses h1{
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
}
.courses-para{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 600px;
    margin-bottom: 40px;
    font-size: 18px;
    color: rgb(94, 94, 94);
    line-height: 1.5;
    font-weight: 500;
}
.courses-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.courses-card{
    width: 23%;
}
.courses-card-img{
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.courses-card-img img{
    width: 100%;
    transition: 0.3s ease-in-out;
}
.courses-card-img img:hover{
    transform: scale(1.3);
}
.courses-card-info{
    display: flex;
    
}
.courses-card-info-div{
    display: inline-block;
    left: 0;
    margin: 15px 0px;
}
.courses-card-info-div h3{
    font-size: 12px;
    display: inline-block;
    color: rgb(94, 94, 94);
    margin-right: 20px;
}
.courses-card-info-div i{
    font-size: 12px;
    color: orangered;
}
.courses-card-details h2{
    font-weight: 500;
    margin-bottom: 10px;
}
.courses-card-details p{
    margin-bottom: 20px;
    font-size: 18px;
    color: rgb(94, 94, 94);
    line-height: 1.5;
    font-weight: 500;
}
.courses-card-btn{
    background-color: orangered;
    border: 2px solid orangered;
    color: #ffffff;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    padding: 10px;
    width: 120px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.courses-card-btn:hover{
    background-color: transparent;
    color: orangered;
}
@media screen and (max-width: 1000px){
    .courses-card-info{
        justify-content: space-between;
    }
    .courses-card{
        width: 350px;
        margin-bottom: 60px;
    }
    .courses-card-info-div h3{
        margin-right: 0;
    }
}
@media screen and (max-width: 750px){
    .courses-card{
        width: 400px;
    }
    .courses-para{
        width: 70%;
    }
}
@media screen and (max-width: 450px){
    .courses-card{
        width: 300px;
    }
}
@media screen and (max-width: 310px){
    .courses-card{
        width: 250px;
    }
}

/*--- Teachers Section ---*/
.teachers{
    padding: 100px 0px;
    background-color: #ebeaea;
}
.teachers h1{
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.teachers-para{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 600px;
    margin-bottom: 40px;
    font-size: 18px;
    color: rgb(94, 94, 94);
    line-height: 1.5;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.teachers-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.teachers-card{
    width: 23%;
}
.teachers-card-img{
    width: 100%;
}
.teachers-card-img img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.teachers-img-last{
    background-position:50%;
}
.teachers-overlay{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    background-color: rgba(255, 255, 255, 0.938);
    z-index: 10;
    transition: 0.3s ease-in-out;
    overflow: hidden;
}
.teachers-card:hover .teachers-overlay{
    height: 100%;
}
.teachers-card{
    position: relative;
}
.teachers-card-txt{
    position: relative;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}
.teachers-card h2{
    font-size: 30px;
    margin-bottom: 20px;
    color: rgb(94, 94, 94);
}
.teachers-card-txt h3{
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    color: orangered;
    font-weight: 700;
    margin-bottom: 20px;
}
.teachers-card-txt p{
    color: rgb(94, 94, 94);
    font-weight: 500;
    font-size: 18px;
}
.teachers-social{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.teachers-social-icon{
    margin-right: 10px;
    content: "";
    padding: 10px;
    background-color: #000000;
    color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    position: relative; 
}
.teachers-social-icon i{
    font-size: 20px;
}
.teachers-social-icon:hover{
    transform: scale(1.2);
}
@media screen and (max-width: 1000px){
    .teachers-card{
        width: 40%;
        margin-bottom: 7%;
    }
    .teachers-para{
        width: 70%;
    }
}
@media screen and (max-width: 600px){
    .teachers-card{
        width: 80%;
    }
}

/*--- Quote Section ---*/
.quote{
    background-image: url("../../assets/images/quote.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
}
.quote-overlay{
    background: rgb(250,95,28);
    background: linear-gradient(90deg, rgba(250,95,28,0.3561799719887955) 0%, rgba(255,102,0,0.8491771708683473) 100%);
    height: 100%;
    width: 100%;
    padding: 100px 0px;
}
.quote-details{
    width: 50%;
    position: relative;
    left: 100%;
    transform: translateX(-100%);
}
.quote-details h1{
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
}
.quote-para{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 80%;
    margin-bottom: 40px;
    font-size: 18px;
    color: rgb(94, 94, 94);
    line-height: 1.5;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
}
.quote-form input{
    padding: 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ffffff;
    outline: none;
    width: 40%;
    margin-right: 40px;
    box-sizing: border-box;
    color: #ffffff;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
}
.quote-form input::placeholder{
    color: #ffffff;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
}
.quote-form select{
    width: 40%;
    margin-right: 40px;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ffffff;
    background-color: transparent;
    margin-top: 40px;
    outline: none;
}
#txt-area{
    border: none;
    border-bottom: 1px solid #ffffff;
    background-color: transparent;
    width: calc(80% + 40px);
    box-sizing: border-box;
    outline: none;
    margin-top: 20px;
    color: #ffffff;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    margin-top: 40px;
    padding: 10px;
}
#txt-area::placeholder{
    color: #ffffff;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
}
#course,&::after{
    color: #ffffff;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
}
#course option{
    color: #494949;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
}
#quote-btn{
    background-color: orangered;
    border: 2px solid orangered;
    color: #ffffff;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    padding: 10px;
    width: 150px;
    height: 50px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    margin-top: 40px;
}
#quote-btn:hover{
    background-color: transparent;
    color: orangered;
}
#telephone{
    appearance: none;
}
@media screen and (max-width: 1000px){
    .quote-details{
        width: 80%;
        position: relative;
        left:50%;
        transform: translateX(-50%);
        margin-right: 0;
    }
    .quote-form{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}
@media screen and (max-width: 650px){
    .quote-form input{
        width: 100%;
        margin-bottom: 40px;
    }
    .quote-form select{
        margin-top: 0px;
        width: 100%;
        margin-bottom: 40px;
    }
    #txt-area{
        width: 100%;
        margin-top: 0px;
    }
}

/*--- Blog Section ---*/
.blog{
    padding: 100px 0px;
    background-color: #ebeaea;
}
.blog h1{
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #000000;
}
.blog-para{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 80%;
    margin-bottom: 40px;
    font-size: 18px;
    color: #000000;
    line-height: 1.5;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.blog-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.blog-card{
    width: 28%;
    position: relative;
}
.blog-card-img{
    width: 100%;
}
.blog-overlay{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.blog-overlay-back{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 68, 0, 0.363);
    opacity: 0;
    transition: 0.3s ease-in-out;
}
.blog-card-img:hover .blog-overlay-back{
    opacity: 1;
}
.blog-date{
    position: absolute;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    bottom: 0;
    height: 100px;
    width: 50px;
    background-color: rgb(13, 78, 255);
    color: #ffffff;
    padding-top: 6px;
}
.blog-date h4{
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
}
.blog-date h5{
    text-align: center;
    font-size: 15px;
    margin-bottom: 5px;
    font-weight: 400;
}
.blog-date h6{
    text-align: center;
    font-size: 15px;
    font-weight: 400;
}
.blog-overlay i{
    position: absolute;
    font-size: 50px;
    color: #ffffff;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
}
.blog-card-details{
    background-color: #ffffff;
    padding: 20px;
    position: relative;
    bottom: 5px;
}
.blog-card-details h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 20px;
    font-weight: 600;
    color: #000000;
}
.blog-card-details p{
    font-size: 18px;
    color: rgb(94, 94, 94);
    line-height: 1.5;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 20px;
}
.blog-card-img{
    position: relative;
    width: 100%;
}
.blog-card-img img{
    width: 100%;
    height: 280px;
    object-fit: cover;
}
.blog-btn{
    background-color: orangered;
    border: 2px solid orangered;
    color: #ffffff;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    padding: 10px;
    width: 120px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    margin-top: 40px;
    position: relative;

}
.blog-btn:hover{
    background-color: transparent;
    color: orangered;
}
.blog-details-bottom{
    display: flex;
    justify-content: space-between;
}
.blog-details-bottom-div1{
    width: 50%;
    position: relative;
}
.blog-details-bottom-div2 h3{
    position: absolute;
    bottom: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    right: 0;
    font-weight: 400;
    color: orangered;
    cursor: pointer;
}
.blog-details-bottom-div3 i{
    position: absolute;
    font-size: 18px;
    bottom: 30px;
    right: 20px;
    cursor: pointer;
    color: rgb(94, 94, 94);
}
.blog-details-bottom-div2{
    width: 30%;
    position: relative;
}
.blog-details-bottom-div3{
    width: 25%;
}

@media screen and (max-width: 1000px){
    .blog-card{
        width: 60%;
    }
}
@media screen and (max-width: 650px){
    .blog-card{
        width: 80%;
    }
}
@media screen and (max-width: 350px){
    .blog-card{
        width: 90%;
    }
    .blog-btn{
        width: 100px;
    }
    .blog-details-bottom-div2 h3{
        font-size: 18px;
    }
}

/*--- Testimonials Section ---*/
.testimonials{
    padding: 100px 0px;
    background-color: #ffffffff;
}
.testimonials h1{
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #000000;
}
.testimonials-para{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 80%;
    margin-bottom: 40px;
    font-size: 18px;
    color: #000000;
    line-height: 1.5;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.testimonials-flex{
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
    padding: 90px 0px;

}
.testimonials-img{
    width: 150px;
    height: 150px;
}
.testimonials-img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.testimonials-details{
    width: 60%;
}
.testimonials-details p{
    font-size: 18px;
    color: #000000;
    line-height: 1.5;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 20px;
}
.testimonials-details h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    margin-bottom: 20px;
}
.testimonials-details h3{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    color: orangered;
}
.testimonials-details i{
    font-size: 150px;
    top: 10px;
    position: absolute;
    color: #494949;
    z-index: -1;
    opacity: 0.2;
}
.testimonials-slider{
    height: 100%;
}
@media screen and (max-width: 650px){
    .testimonials-flex{
        flex-direction: column;
        width: 90%;
    }
    .testimonials-img{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    .testimonials-details{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}

/*--- Footer Section ----*/
.footer{
    background-color: #272727;
    padding: 100px 40px;
}
.footer-flex{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 1300px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    color: #ffffff;
}
.footer-div{
    width: 300px;
}
.footer-div1{
    width: 350px;
}
.footer-div2{
    width: 350px;
}
.footer-div3{
    width: 170px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.footer-div h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 40px;
}
.footer-contact-div1{
    display: flex;
    margin-bottom: 10px;
}
.footer-contact-div1 i{
    margin-right: 10px;
    font-size: 20px;
}
.footer-contact-div1 p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: 600;
}
.footer-contact-div2{
    display: flex;
    margin-bottom: 10px;
}
.footer-contact-div2 i{
    margin-right: 10px;
    font-size: 20px;
}
.footer-contact-div2 p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: 600;
}
.footer-contact-div3{
    display: flex;
    margin-bottom: 10px;
}
.footer-contact-div3 i{
    margin-right: 10px;
    font-size: 20px;
}
.footer-contact-div3 p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: 600;
}
.footer-div2-flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer-div2-flex-div1, .footer-div2-flex-div2{
    display: flex;
}
.footer-div2-flex img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 20px;
    margin-right: 20px;
}
.footer-blog-title{
    width: 200px;
}
.footer-blog-title h3{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
}
.footer-blog-para{
    display: inline;
}
.footer-blog-calender{
    display: inline;
}
.footer-blog-title{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 30px;
    display: inline;
    width: 60%;
}
.footer-blog-title h3{
    margin-bottom: 15px;
}
.footer-blog-title-flex{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    margin-bottom: 30px;
    color: #e7e7e786;
    font-weight: 400;
}
.footer-blog-title-div1{
    margin-bottom: 8px;

    display: flex;
    width: 100%;
}
.footer-blog-title-div2{
    display: flex;
    width: 55px;
    margin-right: 20px;
}
.footer-blog-title-last{
    display: flex;
}
.footer-blog-title-div3{
    display: flex;
}
.footer-blog-title i{
    margin-right: 10px;
    font-size: 15px;
    position: relative;
    top: 2px;
}
.footer-div3 ul{
    list-style: none;
}
.footer-div3 li{
    font-size: 18px;

}
.footer-div3 li{
    margin-bottom: 10px;
}
.footer-div4 input{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.footer-div4 input::placeholder{
    font-size: 20px;
    color: #000000;
}
.footer-div4 input[type="submit"]{
    background-color: orangered;
    border: 2px solid orangered;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
}
.footer-connect-flex{
    display: flex;
    gap: 10px;
}
.footer-connect-icon{
    content: "";
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
}
.footer-connect-icon i{
    font-size: 25px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: #000000;
    transition: 0.3s ease-in-out;
}
.footer-connect-icon:hover{
    transform: scale(1.2);
}
@media screen and (max-width: 1250px){
    .footer-div{
        width: 240px;
    }
}
@media screen and (max-width: 1000px){
    .footer-div{
        width: 40%;
    }
}
@media screen and (max-width: 750px){
    .footer-div2, .footer-div4{
        width: 50%;
    }
    .footer-blog-title{
        width: 60%;
    }
}
@media screen and (max-width: 620px){
    .footer-div2, .footer-div4{
        width: 60%;
    }
}
@media screen and (max-width: 540px){
    .footer-div{
        width: 100%;
    }
    .footer-blog-title{
        width: 60%;
        height: auto;
    }
    .footer-div2-flex{
        transform: scale(0.9);
        position: relative;
        left: 0;
    }
}
@media screen and (max-width: 300px){
    .footer-blog-title-last{
        flex-wrap: wrap;
    }
    .footer-blog-title-div2{
        margin-bottom: 10px;
    }
}
